{# empty Twig template #}
<a href="http://PokeWorlds.com/play.php?g=Monsters&by=Newest">Newest</a>
<a href="http://PokeWorlds.com/play.php?g=Monsters&by=All">All</a>
<a href="http://PokeWorlds.com/play.php?g=Monsters&by=User:{{ USERNAME }}">Mine</a>
<a href="http://PokeWorlds.com/play.php?g=Monsters&p=edit&id=-1">New Monster</a>
