{# empty Twig template #}
<div class='page'>
    <header>About Nicapa</header>
    <article>
         <a href="http://PokeWorlds.com/games.php">Games</a> 
                <a href="http://PokeWorlds.com/coding.php">Code</a> 
                <a href="http://PokeWorlds.com/players.php">Players</a>  
                <a href="http://PokeWorlds.com/follow.php">Connect</a> 
                <a href="http://PokeWorlds.com/contact.php">Request a Quote</a>
        <h2>History</h2>
        Nicapa.com was created as a place for me to play around with ideas for in-browser gaming that I have. This site has been running for 2 years and today
        we have over 200 users. Content is dynamically created by our users and features fun and innovative gameplay. One of the sites biggest projects is Drawnimals
        which is still in the beta phase. 
        <h2>Creator</h2>
        My name is Taylor I go by the username Rolyataylor2. If you have any questions feel free to drop me a message. If you want to request
        web development work then click on the bottom of this page to "Request a Quote". That will send me a message saying your interested in
        my lovely work ;)
        <h2>Goal</h2>
        Every person has some sort of goal in life, Mine is to advance my career. This website is set up to help me do that. Currently I am not working
        in the industry but I am striving to improve my abilities until I am qualified to perticipate in the world of web development.
    </article>
</div>