{# empty Twig template #}
<a href="http://PokeWorlds.com/play.php?g=Abilities&by=Newest">Newest</a>
<a href="http://PokeWorlds.com/play.php?g=Abilities&by=All">All</a>
<a href="http://PokeWorlds.com/play.php?g=Abilities&by=User:{{ USERNAME }}">Mine</a>
<a href="http://PokeWorlds.com/play.php?g=Abilities&p=edit&id=-1">New Ability</a>