<header>Caught A Drawnimal<time>{{ TIME }}</time></header>
<a href="http://PokeWorlds.com/user.php?id={{ USERNAME }}">{{ USERNAME|title }}</a> Caught a {{ ARGS[1]|title }}.
<footer><a href="#">View Drawnimal</a></footer>
