<header>Added A Drawnimal To Their Journel!<time>{{ TIME }}</time></header>
<a href="http://PokeWorlds.com/user.php?id={{ USERNAME }}">{{ USERNAME|title }}</a> Added {{ ARGS[0]|title }} To their Journel.
<footer><a href="#">View Profile</a></footer>
