<form onsubmit="return MENU.popup.reloadForm($(this));">
    <h1>Create A New Sketch</h1>
    <sub>
        Upload your image of a new drawnimal you would like to see in the wild grass in this drawnimal filled world.
        To improve your chances of getting approved be sure to upload a PNG image 300x300px
    </sub>

    <label>Name<input type="text"/></label>
    <label>Short Description<input type="text"/></label>
    <label>Long Description <textarea></textarea></label>
    <label>Base Image <input type="file"/></label>
    <label>Starting Base: <select><option>Baby</option><option>Common</option><option>Starter</option><option>Tough</option><option>Legendary</option></select></label>
    <input type="submit" value="Upload/Create New Drawnimal"/>

    <small style="width:100%; display:block; margin-top:5px;">
        Warning: You are responsible for your content. Do not upload innappropriete/illegal images or your account will be frozen. 
        Any artwork you upload should be your own work or owned by you, uploading other peoples artwork and claiming it as your own is against Drawnimals&trade; Content Policy and will be taken down.
        Additionally all images you upload are subject to the terms and conditions of Drawnimals&trade; To learn more goto legal.drawnimals.com/Content<br/>
    </small>
</form>

