{# empty Twig template #}
<a href="http://PokeWorlds.com/play.php?g=Moves&by=Newest">Newest</a>
<a href="http://PokeWorlds.com/play.php?g=Moves&by=All">All</a>
<a href="http://PokeWorlds.com/play.php?g=Moves&by=User:{{ USERNAME }}">Mine</a>
<a href="http://PokeWorlds.com/play.php?g=Moves&p=edit&id=-1">New Move</a>