{# empty Twig template #}
<table style="width:100%; height:100%; text-align: center; background-color:#A33;">
    <tr>
        <td>
            <img src="img/server-disconnected.gif"/>
            <h1>You Have become disconnected!</h1>
            Remember you can only have one tab/window containing Drawnimals. Other connections will not work, You can browse the Forums here though.<br/>
            If you really wanna try you can click <a href="#" onclick="NODEReconnect();">here</a> to attempt to reconnect.
        </td>
    </tr>
</table>