.style-window {background-color: black; 
               border: 1px solid white; color:white; padding:4px; 
               box-shadow: 0 0 5px red, inset 0 0 10px red;} 
#GUI-TopBar { background-color:#0A246A; } 
#GUI-BottomBar { background-color:#0A246A; } 