{# empty Twig template #}
<div style="position:absolute; top:45%; left:0px; 
            width:100%; text-align:center; color:white;
            font-size:24px;">
    A Game By<br/>
    Rolyataylor2<br/>
    <br/>
    Copyright 2010-2013
</div>
<script>
    setTimeout(MENU.Game.Titlescreen,4000);
    MENU.background.load('','#000');
    TOOLBAR.HideAll();
</script>