<h1>Buy Drawnimals Cash</h1>
<sub>In game currency can only get you so much, To buy items that are sold using Drawnimals Cash you will have to purchase
some Drawnimals Cash using this form.</sub>
Buy <img src="img/sit/cash.png"/>5000 for $5.<br/>
Buy <img src="img/sit/cash.png"/>11000 for $10.<br/>
Buy <img src="img/sit/cash.png"/>23000 for $20.<br/>