{# empty Twig template #}
<a class="searchitem region" href="?g=Regions&p=view&id={{ data['id'] }}">
    <div class="name">{{ data['name'] }}</div>
    <div class='description'>{{ data['description'] }}</div>
</a>
