{# empty Twig template #}
<style>
    .loginContainer {
        position:absolute; top:5%; left:5%; width:200px; height:200px; 
    }
    .loginContainer a {
        width:100%; font-size:24px; color:black; text-decoration: none;
    }
</style>
<div class="loginContainer windowDecoration">
    <a href="javascript:MENU.Introduction.Popup.Register()">New Game</a><br/>
    <a href="javascript:MENU.Introduction.Popup.Login()">Continue</a><br/>
    <a href="javascript:MENU.Introduction.Titlescreen()">Back</a>
</div>