{# empty Twig template #}
<style>
    .title {position:absolute; top:10%; left:50%; width:800px; margin-left:-400px;}
    .pressStart {
        position:absolute; bottom:30%; width:100%; left:0px; 
        text-align: center; font-size:30px; text-decoration: none; color:black;
    }
    .pressStart:hover {
        font-size:40px;
    }
    .copyright {
        position:absolute; bottom:5px; width:100%; left:0px; text-align: center;  text-decoration: none; color:black;
    }
</style>
<img src="img/titlescreen/title.png" class="title"/>
<a href="javascript:MENU.Introduction.Login();" 
   class="pressStart">
    Click Here To Continue
</a>
<div class="copyright">
    Copyright Rolyataylor2 2011-2013
</a>