{# empty Twig template #}
<div class='page'>
    <h1>Follow and Share us</h1>
    
    <article style='text-align:center;'>
        <h2>I'm not to social on the social media thing, But if you wanna I'm up for anything</h2>
        <div style='border: 1px solid silver; display: block; padding:10px; width:90%; margin:0 auto;'>
            <img src="img/facebook.png" alt="Facebook Logo" width='110' style="vertical-align: top;"/>
            <div class="fb-follow" data-href="https://www.facebook.com/Drawnimals" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div>
        </div>
        <div style='border: 1px solid silver; display: block; padding:10px; width:90%; margin:0 auto;'>
            <img src='img/twitter.png' alt="Twitter Logo" width='110' style="vertical-align: top;">
            <span style="width:450px; display:inline-block; text-align:left;">
                Got a question that you wanna ask? I'll try to respond quickly.<br/>
                Follow me on Twitter <a href='https://twitter.com/Drawnimals'>@Drawnimals</a>
            </span>
        </div>
        <h2>By The Way (BTW)</h2>
        If you really wanna help us out you can share us everywhere. I am hoping to include rewards for people who spread the good word!
        <br/><br/>
        <h2>If you like my work, Here is my LinkedIn Profile</h2>
        <a href="http://www.linkedin.com/in/rolyataylor2"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" alt="View Taylor Burke's profile on LinkedIn"></a>

        <div style='clear:both'></div>
    </article>
</div>
