{# empty Twig template #}
<div class="profile">
    <aside style="margin:0px; margin-right: 10px;">
        <header><img style="width:64px; margin:2px; vertical-align: top;" src="img/profile_images/0.png">{{ USERNAME }}</header>
        <ul>
            <li>Messages</li>
            <li>Friends</li>
        </ul>
    </aside>
    <article></article>
</div>
