<div class="DrnmFriendshipGuage">
    <div class="max">
        <img src='http://img.drawnimals.com/icons/friendship.png' title="Owner/Drawnimal Relationship is {{ FRIENDSHIP }}%" style="position:absolute; margin:-39px -24px; width:48px; left:{{ FRIENDSHIP }}%"/>
    </div>
</div>
