{# empty Twig template #}
<div class='page location'>
    <h1>Devolution Lab Experiment</h1>
    <article>
        <center><img src='http://www.drawnimals.com/img/_locations/images/devolve.png'/></center>
        <sub>Strange potion that Prof Oak has been working on... It doesn't seem ready yet...</sub>
        <form method='post'>
            <input type="hidden" name='token' value='{{ TOKEN }}'/>
            <center><input type='submit' value='Give to Pokemon'/></center>
        </form>
    </article>
</div>