{# empty Twig template #}
<div class='page location'>
    <h1>Prof Oak's Assessment Machine</h1>
    <article>
        <center><img src='http://www.drawnimals.com/img/_locations/images/pokedex.png'/></center>
        <sub>Your pokedex can be ranked once a week, Depending on how many pokemon you have seen/caught you will recieve a different prize.</sub>
        <form method='post'>
            <input type="hidden" name='token' value='{{ TOKEN }}'/>
            <center><input type='submit' value='Rank my Pokedex!'/></center>
        </form>
    </article>
</div>