<div class="menutitle">
    <h1>Help</h1>
    <sub>Answer any questions about how to use this website and play the game.</sub>
</div>
<div class="menu">
    help
</div>
<script> 
    TOOLBAR.HideAll(); 
    MENU.Backgrounds.Menu();
</script>