{# empty Twig template #}

<img style="width:20%; margin:0 auto;" src="http://img.drawnimals.com/server-disconnected.gif"/>
<h1>You Have become disconnected!</h1>
<center>
    Remember you can only have one tab/window containing Drawnimals. Other connections will not work, You can browse the Forums here though.<br/>
    If you really wanna try you can click <a href="#" onclick="NODEReconnect();">here</a> to attempt to reconnect.
</center>
        
<script>
    $('#SiteWrapper').addClass('blackOut');
</script>