{# EXPPERCENT #}
<div class="expguage">
    <div class='max'><div class="min" style='width:{{ ((EXP-EXPLAST)/(EXPNEXT-EXP))*100 }}%'></div></div>
    <div class='exp'>Exp {{ EXP }}, Next Level in {{ EXPNEXT-EXP }}</div>
</div>
