{# empty Twig template #}
<table class='DrnmMoodSummery'>
    <tr><td></td><td style="text-align:center;">{{ MOOD|raw }}</td><td></td></tr>
    <tr>
        <td style='height:48px; vertical-align: bottom;'>Friend</td><td>{{ FRIENDGUAGE|raw }}</td><td></td>
    </tr>
    <tr>
        <td>Energy</td><td>{{ ENERGYGUAGE|raw }}</td><td></td>
    </tr>
    <tr>
        <td>Hunger</td><td>{{ HUNGERGUAGE|raw }}</td><td></td>
    </tr>
</table>
