{# empty Twig template #}
<a href="http://PokeWorlds.com/play.php?g=Items&by=Newest">Newest</a>
<a href="http://PokeWorlds.com/play.php?g=Items&by=All">All</a>
<a href="http://PokeWorlds.com/play.php?g=Items&by=User:{{ USERNAME }}">Mine</a>
<a href="http://PokeWorlds.com/play.php?g=Items&p=edit&id=-1">New Item</a>