{# empty Twig template #}
<div class='page location'>
    <h1>Pokemon Nest</h1>
    <article>
        <center><img src='http://www.drawnimals.com/img/_locations/images/nest.png'/></center>
        <sub>There is nothing here?</sub>
        <form method='post'>
            <input type="hidden" name='token' value='{{ TOKEN }}'/>
            
        </form>
    </article>
</div>